     <div class="col-9">
            <div>
              <h4 style="color:rgb(120,120,120);margin-bottom:4px;">
                <b>JobName</b>: {{job1['title']}}
              </h4>
            </div>
            
            <div>
              <h4>
                <b>Location</b>: {{job1['location']}}
              </h4>
            </div>
                  
        <!-- if the salary is empty, do not render salary -->
        
          {% if 'salary' in job1 %}
          <div class="border-bottom" style="margin-bottom:20px;padding-bottom:20px" >                              
            <b>Salary:</b> {{job1['salary']}}
          </div>
         {% endif %}

       <!-- Bootstrap maintains a 12 column layout. So we are using 3 columns for button field below -->
       
      <div class="col-3">
         
        <!-- DIFFERENT METHODS OF CLICKING A BUTTON AND ACTIONING IT -->
        <!-- <button class="btn btn-success">Apply</button> -->
        <!-- by clicking the button Apply, the google website is opened --> 
         <!-- <a href="http://google.com" type="button" class="btn btn-success">Apply</a> -->
        <!-- <a href="mailto:tsr71a@gmail.com?subject=Application for {{job1['title']}}" type="button" class="btn btn-success">Apply</a> -->
      <a href="/job/{{job1['id']}}" type="button" class=i"btn btn-success">Apply</a>
     </div>
        <br>
  </div>