<!DOCTYPE html>
<html>
  <head>
<!-- Bootstrap- standard tags to be used -  START -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<!-- Bootstrap -  standard tags to be used - END -->
    
    <title>  Jovian Careers </title>
  </head>
  
  <body>
    <!-- To include the nav bar(nav.html) into out html page. -->
    <!-- {% include 'navbar.html' %} -->
    {% include 'navbar.html' %}
    
    
    
    <!-- In order to make the HTML look better, we apply div tag and set the properties, so that the whole page looks better -->
    <!-- the below class "container" is part of Bootstrap -->
    <div class="container">
    <!-- the below class "container" is part of Bootstrap -->
     <h1 class="text-center">Hello Everyone...Welcome to Jovian Portal. You will learn about the Job Openings in Jovian...</h1>
 
  <!--  the below class is from Bootstrap -->
      <img class="img-thumbnail"  src="https://jovian-careers-website-1.sumanthtalusani.repl.co/static/jovian-careers.jpeg">
  
  
      <h2 class="text-center"> About Jovian </h2>
  <div class="row">
    <div class="col-9">
      <p class="lead">Welcome to our company Jovian. We are the largest IT company providing technology solutions to the BlueChip companies across the world. We are located in America, Asia, Europe and everywhere. Jovian Concepts delivers unique, on-site consulting services to government, academic, and commercial missions. Our company is composed of professionals with solid management and technical expertise with diversified backgrounds including prominent leaders in academia, military, and national intelligence. </p>
    </div>
    <div class="col-3">
    <img src="/static/teamwork.jfif" style="height:175px; width:175px">
    </div>
      
  </div>
 
      <h2 class="text-center">Open Positions</h2>
<!-- applying below multiple classes from bootstrap  -->
<!-- calling the data of python list from main.py into html page -->
      <!-- Flask has provided the below special syntax to insert dynamic data into your HTML page and should not be confused as provided by HTML or CSS. --> 
      <!-- <p class="lead mt-2 mb-5">{{myJobs}}</p> ..basic syntax to call dynamic data, which shows unformatted in html page -->
      <!-- Advanced syntax to call dynamic data and format it properly -->
      <!-- first we create a Row in <div>, then mention columns within it.-->
  <div class="row">
      <!-- Bootstrap maintains a 12 column layout. So we are using 9 columns below -->
      
   {%for job1 in myJobs%}
      <div class="col-9">
            <div>
              <h4 style="color:rgb(120,120,120);margin-bottom:4px;">
                <b>JobName</b>: {{job1['title']}}
              </h4>
            </div>
            
            <div>
              <h4>
                <b>Location</b>: {{job1['location']}}
              </h4>
            </div>
                  
        <!-- if the salary is empty, do not render salary -->
        
              {% if 'salary' in job1 %}
               <div class="border-bottom" style="margin-bottom:20px;padding-bottom:20px" >   
                    <b>Salary:</b> {{job1['salary']}}
               </div>
       </div>
              {% endif %}
        <!-- Bootstrap maintains a 12 column layout. So we are using 3 columns for button field below -->
       <div class="col-3">
         
        <! -- DIFFERENT METHODS OF CLICKING A BUTTON AND ACTIONING IT -->
        <!-- <button class="btn btn-success">Apply</button> -->
        <!-- by clicking the button Apply, the google website is opened --> 
         <!-- <a href="http://google.com" type="button" class="btn btn-success">Apply</a> -->
         <a href="mailto:tsr71a@gmail.com?subject=Application for {{job1['title']}}" type="button" class="btn btn-success">Apply</a>
       </div>
      
          <br>
  {%endfor%}
 
    <!-- to include the bootstratp footer -->
    
    {% include 'footer.html' %}
    <br>
          <!-- applying a separate div tag for the button> -->
    <!-- applying bootstrap at <div> tag level -->  
   <div class="row">
      <div class="col-12 text-center">
        <button class="btn btn-primary">Contact US</button>
        <h6 align="center"> Copyright: 2023 - JOVIAN</h6>
      </div> 
    </div>
 
  </div>
</div> 
  </body>
</html>